{% extends 'example_blog/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="has-text-centered">
        <h2 class="title is-size-2">All Posts</h2>
        <a href="{% url 'blog:new_post' %}"><button class="button is-primary">New Post</button></a>
    </div>
    <div class="columns">
        <div class="column is-8 is-offset-2 content">
            <ul>
                {% for object in object_list %}
                    <li>
                        <a href="{% url 'blog:post' object.pk %}">
                            {{ object }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        
    

            <nav class="pagination">
                {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next Page</a>
                {% endif %}
                <ul class="pagination-list">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number != 1%}
                        <li>
                            <a class="pagination-link" href="?page=1">1</a>
                        </li>
                        <li>
                            <a class="pagination-ellipsis">&hellip;</a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}
                    <li>
                        <a class="pagination-link is-current">{{ page_obj.number }}</a>
                    </li>
                {% if page_obj.has_next %}
                    <li>
                        <a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                        <li>
                            <a class="pagination-ellipsis">&hellip;</a>
                        </li>
                        <li>
                            <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
        </div>
    </div>

</div>
{% endblock %}