{% extends 'example_blog/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="has-text-centered">
        <a href="{% url 'blog:posts' %}"><button class="button is-info mb-3">Back To All Posts</button></a>
        <h2 class="title is-size-2">{{ object.title }}</h2>
        <p>created at {{object.created_at }}
            {% if object.created_at != object.updated_at %} | updated at {{ object.updated_at }}{% endif %}
        </p>
    </div>
    <div class="column">
        <div class="column is-10 is-offset-1">
            <div class="content has-background-light p-4">
                {{ object.body|safe }}
            </div>
        </div>
    </div>
    <p class="has-text-centered">
        <a href="{% url 'blog:edit_post' object.pk %}"><button class="button is-info">Edit</button></a> | 
        <a href="{% url 'blog:delete_post' object.pk %}"><button class="button is-danger">Delete</button></a>
    </p>
</div>
{% endblock %}