<section class="section">
    <div class="container">
        <h1 class="title">Example Container Section</h1>
        <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like
        the one you're currently reading. This one is inside a <a href="https://bulma.io/documentation/layout/container/">container</a>.
        </h2>
        <div class="content">
            <p>
                You might consider writing the main content of your page in this first
                section using a container. Using .container will limit the width of the
                text, making it easier to read (<span class="is-color-info">in theory!</span>).
            </p>
        </div>
    </div>
    </section>

    <section class="section is-medium">
        <h1 class="title">Example Section</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like
            the one you're currently reading.
        </h2>
        <div class="content">
            <p>This would be a good place to put a newsletter link or something.</p>
            <p>There are no rules. Do what you want.</p>
        </div>
    </section>