<section class="section">
    <div class="container">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like
        the one you're currently reading.
        </h2>
        <div class="content">
            <p>
                You might consider writing the main content of your page in this first
                section using a container. Using .container will limit the width of the
                text, making it easier to read (<span class="is-color-info">in theory!</span>).
            </p>
        </div>
    </div>
    </section>

    <section class="section is-medium">
        <h1 class="title">Medium section</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like
            the one you're currently reading.
        </h2>
        <div class="content">
            <p>This would be a good place to put a newsletter link or something.</p>
            <p>There are no rules. Do what you want.</p>
        </div>
    </section>

    <!--
    <section class="section has-background-info-light">
        <div class="columns">
            <div class="column is-5 is-offset-1 has-background-primary py-6 px-5 has-text-centered">
              <h3 class="title is-size-3 has-text-light">Credibility and Professionalism</h3>
              <p><a href="#"><button class="button is-info">Buy now!</button></a>
            </div>
    
          <div class="column is-5 px-5">
            <p>In today's digital landscape, having a professional website is essential for small businesses. A well-designed website exudes credibility and professionalism. When potential customers visit your site, they form an immediate impression of your brand. A thoughtfully crafted website with engaging content demonstrates that your business is legitimate and trustworthy. On the other hand, a free website template may lack the polish and uniqueness needed to stand out. Investing in a custom domain and a professional design pays off by establishing your brand's credibility and attracting customers.</p>
          </div>
        </div>
    
        <div class="columns">
          <div class="column is-5 is-offset-1">
            <p>Customers now expect every business, regardless of size, to have an online presence. A website serves as a central hub where customers can find accurate and up-to-date information about your products, services, and contact details. It's not enough to rely solely on social media or word-of-mouth marketing. A dedicated website ensures that potential clients can connect with you directly, learn about your story, and access essential information. Matching your domain name with your social media handles creates consistency and makes it easier for users to find you across various channels.</p>
          </div>
    
          <div class="column is-5 has-background-primary py-6 px-5 has-text-centered">
            <h3 class="title is-size-3 has-text-light">Meeting Customer Expectations</h3>
            <p><a href="#"><button class="button is-info">Buy now!</button></a>
          </div>
        </div>
    
        <div class="columns">
          <div class="column is-5 is-offset-1 has-background-primary py-6 px-5 has-text-centered">
            <h3 class="title is-size-3 has-text-light">Affordability and Ease of Creation</h3>
            <p><a href="#"><button class="button is-info">Buy now!</button></a>
          </div>
    
          <div class="column is-5">
            <p>Gone are the days when building a website was expensive and complex. Today, website builders offer affordable solutions that yield professional results. You don't need to be tech-savvy to create a web presence. With user-friendly tools, you can design your site, choose templates, and customize content without breaking the bank. Investing in a professionally designed website is a smart long-term decision. It saves you time, money, and effort compared to the limitations of free platforms. Plus, you'll have control over your brand's narrative and presentation1.</p>
          </div>
        </div>
    
        <div class="columns">
          <div class="column is-5 is-offset-1">
            <p>Your website serves as a canvas to showcase your work, products, and services. High-quality images, compelling descriptions, and case studies can demonstrate your expertise. Whether you're a freelancer, a small agency, or a local business, your website allows you to tell your story effectively. Share testimonials, portfolio pieces, and success stories. Highlight what sets you apart from competitors. A professionally designed website becomes a powerful tool for attracting loyal customers and converting leads into sales.</p>
          </div>
    
          <div class="column is-5 has-background-primary py-6 px-5 has-text-centered">
            <h3 class="title is-size-3 has-text-light">Showcasing Your Work and Expertise</h3>
            <p><a href="#"><button class="button is-info">Buy now!</button></a>
          </div>
        </div>
      </section>
      -->
    
      <section class="section is-medium">
        <h1 class="title">Medium section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like
          the one you're currently reading.
        </h2>
        <div class="content">
            <p>This would be a good place to put a newsletter link or something.</p>
            <p>There are no rules. Do what you want.</p>
        </div>
      </section>